
.details {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
  }
  
  .detailsCard {
    position: relative;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* transition: transform 0.2s; */
    background-color: #fff;
    width: 470px;
    height: 280px;
    overflow: hidden;
  }

  
.detailsCard::before,
.detailsCard::after {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 50%;

  pointer-events: none; 
  z-index: 1;
}

.detailsCard::before {
  left: 10px;
  border: 3px solid black;
  border-right: none; 
  border-left: none;
  /* border-radius: 6px 0 0 6px; */
  width: 40%;
}

.detailsCard::after {
  right: 10px;
  border: 3px solid #FEE13B;
  border-left: none;
  /* border-radius: 0 6px 6px 0; */
  width: 60%;
}
  
  
  .detailsLeftSection {
    background-color: #FEE13B;
    padding: 20px;
    text-align: center;
    border-right: 1px solid #ddd;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .detailsPhotoContainer {
    width: 100px;
    height: 100px;
    /* margin-bottom: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .detailsLeftSection h2 {
    margin: 10px 0;
    color: black;
    font-size: 1.2em;
  }
  
  .profession {
    font-size: 1em;
    font-weight: bold;
    color: black;
  }
  
  .detailsRightSection {
    color: #fff;
    /* filter:blur(5px); */
    position: relative;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: start; */
    width: 380px;
  }
  
  .editBtn a{
    position: absolute;
    bottom: 15%;
    left:45%;
    right: 0;
    background-color: #f7c908;
    color: black;
    text-decoration: none;
    padding: 8px;
    width: 50px;
    border-radius: 5px;
    filter: initial;
    text-align: center;
  }

  .editBtn a:hover {
    background-color: #bd9a0e;
  }

  .deleteBtn button{
    position: absolute;
    bottom: 15%;
    left:78%;
    right: 0;
    color: #fff;
    background-color: #a51d08;
    text-decoration: none;
    padding: 9px;
    width: 65px;
    border-radius: 5px;
    /* filter: initial; */
  }

  .deleteBtn button:hover {
    background-color: #7f1606;
  }

  .detailsRightSection p {
    margin: 8px 0;
    font-size: 1em;
  }
  
  .detailsRightSection strong {
    color: #f7c908;
  }
  
  