
body {
    background-image: url('../images/homePage.jpg');
    /* background-size: cover; */
    /* background-position: center;  */
    background-repeat: repeat;
}

h1 {
    text-align: center;
    color: #FEE13B;
    font-size: 3em;
    font-family: italic;
}

.homeBox p {
    text-align: center;
    font-size: 1.4em;
    font-style: italic;
    color: whitesmoke;
}

.carousel-container {
    width: 50%; 
    margin: 0 auto; 
    padding: 50px 0;
}

.slide-image {
    width: 95%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2); 
    margin-left: 12px; 
}
  
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slick-dots li button:before {
    color: #333; 
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: #333; 
  }


