.about-us {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-us h1 {
    font-size: 2.5em;
    color: #FEE13B;
    text-align: center;
    margin-bottom: 20px;
    /* font-style: italic; */
  }
  
  .about-us p {
    font-size: 1.3em;
    color: whitesmoke;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .about-us-img {
    width: 100px;
    height: auto;
    margin-left: 210px;
    margin-top: -120px;
  }

  .highlight {
    color: #FEE13B;
  }

  @media (max-width: 770px) {
    .about-us h3 {
      font-size: 2em;
    }
  
    .about-us p {
      font-size: 1.1em;
    }
  
    .about-us-img {
      margin-left: 0;
      margin-top: 20px;
      display: block;
      margin: 0 auto; 
    }
  }
  
  