.results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.no-results {
  font-size: 1.2em;
  color: red;
}


.search-page {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
  }
  
  .catalog-card {
    position: relative;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: #fff;
    width: 470px;
    height: 280px;
    overflow: hidden;
  }
   
.catalog-card::before,
.catalog-card::after {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 50%;

  pointer-events: none; 
  z-index: 1;
}

.catalog-card::before {
  left: 10px;
  border: 3px solid black;
  border-right: none; 
  border-left: none;
  /* border-radius: 6px 0 0 6px; */
  width: 40%;
}

.catalog-card::after {
  right: 10px;
  border: 3px solid #FEE13B;
  border-left: none;
  /* border-radius: 0 6px 6px 0; */
  width: 60%;
}
  
  .catalog-card:hover {
    transform: scale(1.05);
  }
  
  .left-section {
    background-color: #FEE13B;
    padding: 20px;
    text-align: center;
    border-right: 1px solid #ddd;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .photo-container {
    width: 100px;
    height: 100px;
    /* margin-bottom: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .left-section h2 {
    margin: 10px 0;
    color: black;
    font-size: 1.2em;
  }
  
  .profession {
    font-size: 1em;
    font-weight: bold;
    color: black;
  }
  
  .right-section {
    color: #fff;
    filter:blur(5px);
    position: relative;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: start; */
    width: 380px;
  }
  .button-details {
    position: absolute;
    bottom: 50%;
    left:60%;
    right: 0;
    background-color: #FEE13B;
    text-decoration: none;
    padding: 0.4em;
    width: 50px;
    border-radius: 5px;
    filter: initial;
  }
  .right-section p {
    margin: 8px 0;
    font-size: 1em;
  }
  
  .right-section strong {
    color: #FEE13B;
  }
  